/* styles.css */
body {
    background-image: url('https://t.mwm.moe/moez');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
}

header, footer {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    z-index: 1;
}

header {
    color: #333;
    text-align: center;
    padding: 10px 0;
    top: 0;
}

.container {
    max-width: 800px;
    margin: 80px auto 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 0;
}

h1 {
    color: #333;
}

p {
    line-height: 1.6;
}

footer {
    color: #d5e57c;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 999;
}

.popup-content {
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#musicplayer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.7;
    z-index: 999;
}


